/* nav */

nav{
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;

    width: 100%;
    height: 13vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:baseline;

    background-color:   rgb(240, 240, 240);
}

nav ul{
    list-style-type: none;

    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content: center;
    
    width: calc(100% - 3vw);
    margin: 0 auto;
    top: 1.3vh; 
    
    position:relative;
    gap: 0.5vw;

    background-color:   rgb(240, 240, 240);
}
footer ul{
    list-style-type: none;

    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content: center;
   
    position:fixed;

    width: calc(100% - 3vw);
    bottom: 1.3vh; 
    left: 1.5vw;
    gap: 0.5vw;

    background-color:   rgb(240, 240, 240);
}
nav ul li, footer ul li{
    width: calc((100% - 2.5vw) / 6); /* Adjusted to fit 6 squares per row with spacing */
    text-align: left;
}

nav ul li:hover{
    text-decoration: underline;
}

.container .about-contact .contact h1:hover, 
.container .empty-research .research h1:hover,
.container .about-contact .contact a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.container .empty-research .research .toggle a:hover{
    cursor: pointer;
    text-decoration: underline;
    /* color: rgb(153, 10, 10); change underline color*/
}
.container img:hover{
    cursor: pointer;
}



body {
    overflow:scroll; /* Prevents horizontal scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    background-color: rgb(240, 240, 240);
}


.container {
    width: calc(100% - 3vw);
    margin: 13vh auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allows squares to wrap to the next line */
    gap: 0.5vw;
    background-color: rgb(240, 240, 240);
}

.about-contact {
    width: calc((100% - 2.5vw) / 6 * 2 + 0.5vw);
    position: relative;
    left: 0;
}
.about {
    position: relative;
    height: calc(50vh - 13vh);
    display: flex;
    flex-direction: column;
}
.about p {
    color: rgb(0, 0, 0, 0.6);
}
.contact {
    position: relative;
    display: flex;
    flex-direction: column;
}

.empty-research {
    width: calc((100% - 2.5vw) / 6 * 2 + 0.5vw);
    position: relative;
}
.empty {
    height: calc(50vh - 13vh);
}

.research {
    position: relative;
    display: flex;
    flex-direction: column;
}

.research p {
    color: rgb(0, 0, 0, 0.6);
}

.container img {
    position: relative;
    max-height: calc(100vh - 26vh);
    max-width: calc((100% - 2.5vw) / 6 * 2 + 0.5vw);
    object-fit: contain;
}


.container .about-contact .contact h1, .container .empty-research .research h1{
    /* background-color: rgb(143, 18, 18); */
    width: fit-content;
}

.toggle {
    display: none;
}
.toggle.visible {
    display: block;
}















/* ========================================= */
/* ===== MOBILE-SPECIFIC STYLES (768px and below) ===== */
/* ========================================= */
@media (max-width: 768px) {
* {
  font-size: 0.8rem;
}

.container {
    flex-direction: column;
}

.about-contact {
    width: 100%;
}

.about {
    height: fit-content;
}
.contact{
    margin-top: 5vh;
} 


.empty-research {
    width: 100%;
}
.empty {
    display: none;
}
.research{
    margin-top: 5vh;
} 

img {
    display: none;
}



.toggle {
    display: block;
}
.toggle.visible {
    display: block;
}



footer ul{
    align-items:baseline;
}



}